#include "tracktyl.dtsi"

&default_transform { // The matrix transform for this board is 6 columns over because the left half is 6 columns wide according to the matrix.
    col-offset = <2>;
};

&kscan0 {
        col-gpios
            = <&xiao_d 0 GPIO_ACTIVE_HIGH>
            , <&xiao_d 1 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
};

&xiao_spi {
    status = "okay";

    miso-pin = <3>; // P1.14  14 + 32 = 46
    mosi-pin = <2>; // P1.15  15 + 32 = 47
    sck-pin = <28>; // P1.13   13 + 32 = 45
    cs-gpios = <&xiao_d 3 GPIO_ACTIVE_LOW>; // P1.12

    trackball: trackball@0 {
        compatible = "pixart,pmw3360";
        reg = <0>;
        label = "Pixart PMW3360";
        irq-gpios = <&xiao_d 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        spi-max-frequency = <2000000>;
        // scroll-layer = <5>;
    };
};
